body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-dm-sans: "DM Sans";

  /* font sizes */
  --font-size-3xl: 22px;
  --font-size-44xl-2: 63.2px;
  --font-size-19xl: 38px;
  --font-size-32xl: 51px;
  --font-size-lgi-6: 19.6px;
  --font-size-6xl: 25px;
  --font-size-xl: 20px;
  --font-size-17xl: 36px;
  --font-size-10xl: 29px;
  --font-size-6xl-8: 25.8px;
  --font-size-2xl: 21px;
  --font-size-63xl-3: 82.3px;
  --font-size-22xl: 41px;

  /* Colors */
  --color-gray-100: #111117;
  --color-gray-200: #121212;
  --color-white: #fff;
  --color-mediumslateblue: #8975ff;
  --color-darkslateblue: #5b4fa1;

  /* Gaps */
  --gap-xl: 20px;
  --gap-4xl-7: 23.7px;
  --gap-7xl-4: 26.4px;
  --gap-46xl: 65px;
  --gap-14xl: 33px;
  --gap-mid: 17px;
  --gap-base: 16px;
  --gap-sm-5: 13.5px;

  /* Paddings */
  --padding-xs: 12px;
  --padding-2xs: 11px;
  --padding-11xl: 30px;
  --padding-4xs: 9px;
  --padding-19xl: 38px;
  --padding-3xs-5: 9.5px;
  --padding-48xl: 67px;
  --padding-xl: 20px;
  --padding-47xl: 66px;
  --padding-20xl: 39px;
  --padding-13xl: 32px;
  --padding-39xl: 58px;
  --padding-61xl: 80px;
  --padding-38xl: 57px;
  --padding-2xl: 21px;
  --padding-30xl: 49px;
  --padding-9xl: 28px;
  --padding-6xl: 25px;
  --padding-4xl-6: 23.6px;
  --padding-4xl-5: 23.5px;
  --padding-28xl: 47px;
  --padding-mid: 17px;
  --padding-xs-8: 11.8px;
  --padding-lgi: 19px;
  --padding-3xl: 22px;
  --padding-21xl: 40px;
  --padding-25xl: 44px;
  --padding-20xl-3: 39.3px;
  --padding-11xs: 2px;
  --padding-14xl: 33px;
  --padding-99xl: 118px;
  --padding-8xs: 5px;
  --padding-9xs: 4px;
  --padding-18xl: 37px;
  --padding-6xs: 7px;
  --padding-5xl: 24px;
  --padding-27xl: 46px;
  --padding-7xl: 26px;
  --padding-10xl: 29px;
  --padding-49xl: 68px;

  /* Border radiuses */
  --br-13xl-5: 32.5px;
  --br-46xl: 65px;
  --br-23xl-5: 42.5px;
  --br-31xl: 50px;
  --br-7xs: 6px;
}
