.manashvi-sharma1 {
  color: var(--color-mediumslateblue);
}
.im-manashvi-sharma-container1 {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  display: inline-block;
  max-width: 100%;
  font-family: inherit;
}
.im-manashvi-sharma-wrapper {
  width: 403px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-11xs);
  box-sizing: border-box;
  max-width: 100%;
}
.ui-designer3 {
  color: var(--color-white);
}
.span4 {
  color: var(--color-darkslateblue);
}
.ui-designer2,
.visual-designer1 {
  margin: 0;
}
.ui-designer-container1 {
  position: relative;
  line-height: 94px;
}
.occupation {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-4xs);
  font-size: var(--font-size-63xl-3);
  color: var(--color-mediumslateblue);
}
.engineer-turned-designer-with-container1 {
  flex: 1;
  position: relative;
  display: inline-block;
  max-width: 100%;
}
.experience-years {
  width: 590px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 1px 18px;
  box-sizing: border-box;
  max-width: 100%;
  font-size: var(--font-size-6xl-8);
}
.resume-download-item {
  height: 47px;
  width: 185px;
  position: relative;
  box-shadow: -2px 0.2px 5px rgba(255, 255, 255, 0.5),
    2px 2px 5px rgba(13, 13, 13, 0.5);
  border-radius: var(--br-7xs);
  background-color: var(--color-gray-200);
  display: none;
}
.resume1 {
  align-self: stretch;
  position: relative;
  line-height: 29px;
  z-index: 1;
}
.resume-link {
  width: 113px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1.7px 0 0;
  box-sizing: border-box;
}
.bx-download-icon1 {
  height: 34.8px;
  width: 34.8px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.resume-download1 {
  flex: 1;
  box-shadow: -2px 0.2px 5px rgba(255, 255, 255, 0.5),
    2px 2px 5px rgba(13, 13, 13, 0.5);
  border-radius: var(--br-7xs);
  background-color: var(--color-gray-200);
  flex-direction: row;
  padding: 6.3px 14px 5.9px;
}
.frame-parent1,
.frame-wrapper1,
.resume-download-wrapper,
.resume-download1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.resume-download-wrapper {
  width: 189px;
  flex-direction: row;
  padding: 0 var(--padding-11xs);
  box-sizing: border-box;
  font-size: var(--font-size-6xl);
}
.frame-parent1,
.frame-wrapper1 {
  flex-direction: column;
  max-width: 100%;
}
.frame-parent1 {
  align-self: stretch;
  gap: 16px;
}
.frame-wrapper1 {
  flex: 1;
  padding: var(--padding-xl) 0 0;
  box-sizing: border-box;
  min-width: 404px;
}
.wrapper-group-1-item {
  height: 100%;
  width: 100%;
  object-fit: contain;
  position: absolute;
  left: -5px;
  top: -12px;
  transform: scale(1.053);
}
.wrapper-group-11 {
  height: 453px;
  width: 453px;
  position: relative;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame-container {
  position: absolute;
  top: 270px;
  left: 130px;
  width: 1194px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 120px;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-17xl);
  color: var(--color-white);
  font-family: var(--font-dm-sans);
}
.manashvi-image-icon {
  position: absolute;
  top: 1263.4px;
  left: 126px;
  width: 1188.5px;
  height: 2px;
  z-index: 1;
}
.services2 {
  color: var(--color-mediumslateblue);
}
.services-i-can1 {
  font-weight: 500;
}
.services-i-can-container1 {
  position: relative;
}
.services-title {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) 0 var(--padding-3xl);
}
.graphic-design-title-child {
  width: 352px;
  height: 426px;
  position: relative;
  box-shadow: -17px 0 4px #101010;
  border-radius: var(--br-31xl) var(--br-31xl) 0 0;
  background-color: var(--color-gray-100);
  display: none;
  max-width: 100%;
}
.graphic-design1 {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 41px;
  font-weight: 700;
  font-family: inherit;
  z-index: 1;
}
.pen-tool-7244794-1-icon1 {
  height: 200px;
  width: 200px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.pen-tool-icon {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-18xl) 0 var(--padding-15xl);
}
.graphic-design-title,
.graphic-design-title-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.graphic-design-title {
  box-shadow: -17px 0 4px #101010;
  border-radius: var(--br-31xl) var(--br-31xl) 0 0;
  background-color: var(--color-gray-100);
  padding: var(--padding-18xl) var(--padding-10xl) var(--padding-49xl)
    var(--padding-33xl);
  gap: 80px;
}
.graphic-design-title-wrapper {
  padding: 0 var(--padding-mid) 0 0;
}
.design-services-child {
  width: 352px;
  height: 426px;
  position: relative;
  box-shadow: -17px 0 4px #0f0f0f;
  border-radius: var(--br-31xl) var(--br-31xl) 0 0;
  background-color: var(--color-gray-100);
  display: none;
  max-width: 100%;
}
.ui-design1 {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 58px;
  font-weight: 700;
  font-family: inherit;
  z-index: 1;
}
.animation-services {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 8px;
}
.layout-8500907-1-icon1 {
  width: 178px;
  height: 178px;
  position: relative;
  object-fit: contain;
  z-index: 1;
}
.design-services,
.design-services-item {
  width: 352px;
  box-shadow: -17px 0 4px #0f0f0f;
  border-radius: var(--br-31xl) var(--br-31xl) 0 0;
  background-color: var(--color-gray-100);
  max-width: 100%;
}
.design-services {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xl) 79px var(--padding-49xl);
  box-sizing: border-box;
  gap: 93px;
}
.design-services-item {
  height: 426px;
  position: relative;
  display: none;
}
.animation1 {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 58px;
  font-weight: 700;
  font-family: inherit;
  z-index: 1;
}
.animate-5261056-1-icon1 {
  height: 174px;
  width: 174px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.animate-5261056-1-container,
.design-services1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-10xs);
}
.design-services1 {
  width: 352px;
  box-shadow: -17px 0 4px #0f0f0f;
  border-radius: var(--br-31xl) var(--br-31xl) 0 0;
  background-color: var(--color-gray-100);
  flex-direction: column;
  padding: var(--padding-10xl) var(--padding-61xl) var(--padding-49xl);
  box-sizing: border-box;
  gap: 97px;
  max-width: 100%;
}
.services-list,
.services-title-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 65px;
  max-width: 100%;
  font-size: var(--font-size-17xl);
}
.services-title-parent {
  position: absolute;
  top: 1008.9px;
  left: 118px;
  width: 1203px;
  flex-direction: column;
  justify-content: flex-start;
  gap: 69.1px;
  text-align: left;
  font-size: var(--font-size-44xl-2);
  color: var(--color-white);
  font-family: var(--font-dm-sans);
}
.span5 {
  color: var(--color-darkslateblue);
}
.i-had1 {
  color: var(--color-white);
}
.organizations-i-had1,
.span6 {
  font-weight: 500;
}
.span6 {
  font-family: var(--font-dm-sans);
}
.worked1 {
  color: var(--color-white);
}
.organizations-i-had-container1 {
  align-self: stretch;
  position: relative;
}
.frame-child3 {
  height: 140px;
  width: 158.9px;
  position: relative;
  box-shadow: -1.3px -1.3px 3.27px rgba(255, 255, 255, 0.5),
    1.3px 1.3px 3.27px rgba(0, 0, 0, 0.5);
  border-radius: 42.51px;
  background-color: var(--color-gray-100);
  display: none;
}
.gfg-gg-logo-1-icon1 {
  height: 46.4px;
  width: 92.2px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.group-div {
  box-shadow: -1.3px -1.3px 3.27px rgba(255, 255, 255, 0.5),
    1.3px 1.3px 3.27px rgba(0, 0, 0, 0.5);
  border-radius: 42.51px;
  background-color: var(--color-gray-100);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-28xl) var(--padding-14xl) 46.6px;
}
.geeksforgeeks1,
.noida1 {
  margin: 0;
}
.geeksforgeeks-noida1 {
  position: relative;
  line-height: 110%;
}
.frame-parent2,
.geeksforgeeks-location {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.geeksforgeeks-location {
  flex-direction: row;
  padding: 0 var(--padding-2xs) 0 var(--padding-4xs);
}
.frame-parent2 {
  flex-direction: column;
  gap: 26.3px;
}
.frame-child4 {
  height: 140px;
  width: 158.9px;
  position: relative;
  box-shadow: -1.3px -1.3px 3.27px rgba(255, 255, 255, 0.5),
    1.3px 1.3px 3.27px rgba(0, 0, 0, 0.5);
  border-radius: 42.51px;
  background-color: var(--color-gray-100);
  display: none;
}
.vector-icon1 {
  height: 60.7px;
  width: 47.6px;
  position: relative;
  z-index: 1;
}
.rectangle-parent3 {
  box-shadow: -1.3px -1.3px 3.27px rgba(255, 255, 255, 0.5),
    1.3px 1.3px 3.27px rgba(0, 0, 0, 0.5);
  border-radius: 42.51px;
  background-color: var(--color-gray-100);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-21xl) 55px var(--padding-20xl-3) 56px;
}
.hyderabad1,
.leapscholar1 {
  margin: 0;
}
.leapscholar-hyderabad1 {
  position: relative;
  line-height: 110%;
}
.frame-parent3,
.leapscholar-hyderabad-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.leapscholar-hyderabad-wrapper {
  flex-direction: row;
  padding: 0 var(--padding-3xl) 0 var(--padding-2xl);
}
.frame-parent3 {
  flex-direction: column;
  gap: var(--gap-7xl-4);
}
.photographic-society-icon-child {
  height: 140px;
  width: 158.9px;
  position: relative;
  box-shadow: -1.3px -1.3px 3.27px rgba(255, 255, 255, 0.5),
    1.3px 1.3px 3.27px rgba(0, 0, 0, 0.5);
  border-radius: 42.51px;
  background-color: var(--color-gray-100);
  display: none;
}
.camera-icon {
  height: 116.4px;
  width: 116.4px;
  position: relative;
  object-fit: contain;
  z-index: 1;
}
.photographic-society-details,
.photographic-society-icon {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.photographic-society-icon {
  box-shadow: -1.3px -1.3px 3.27px rgba(255, 255, 255, 0.5),
    1.3px 1.3px 3.27px rgba(0, 0, 0, 0.5);
  border-radius: 42.51px;
  background-color: var(--color-gray-100);
  padding: var(--padding-xs-8) var(--padding-2xl);
}
.photographic-society-details {
  padding: 0 var(--padding-lgi);
}
.photographic-society1,
.ranchi2 {
  margin: 0;
}
.photographic-society-ranchi-container1 {
  height: 44px;
  position: relative;
  line-height: 110%;
  display: inline-block;
}
.geeksforgeeks-details,
.photographic-society-experienc {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-7xl-4);
}
.geeksforgeeks-details {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.nss-logo-child {
  height: 140px;
  width: 158.9px;
  position: relative;
  box-shadow: -1.3px -1.3px 3.27px rgba(255, 255, 255, 0.5),
    1.3px 1.3px 3.27px rgba(0, 0, 0, 0.5);
  border-radius: 42.51px;
  background-color: var(--color-gray-100);
  display: none;
}
.nss-symbol-1-icon1 {
  height: 92.9px;
  width: 92.9px;
  position: relative;
  object-fit: contain;
  z-index: 1;
}
.frame-child5,
.nss-logo {
  box-shadow: -1.3px -1.3px 3.27px rgba(255, 255, 255, 0.5),
    1.3px 1.3px 3.27px rgba(0, 0, 0, 0.5);
  border-radius: 42.51px;
  background-color: var(--color-gray-100);
}
.nss-logo {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-4xl-5) var(--padding-14xl) var(--padding-4xl-6);
  flex-shrink: 0;
}
.frame-child5 {
  height: 140px;
  width: 158.9px;
  position: relative;
  display: none;
}
.might-be1,
.next1,
.you1 {
  margin: 0;
}
.next-might-be-container1 {
  position: relative;
  line-height: 110%;
  font-weight: 700;
  z-index: 1;
}
.nss-logo-parent,
.rectangle-parent4 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.rectangle-parent4 {
  box-shadow: -1.3px -1.3px 3.27px rgba(255, 255, 255, 0.5),
    1.3px 1.3px 3.27px rgba(0, 0, 0, 0.5);
  border-radius: 42.51px;
  background-color: var(--color-gray-100);
  justify-content: flex-start;
  padding: var(--padding-9xl) var(--padding-5xl) var(--padding-11xl) 26px;
  flex-shrink: 0;
}
.nss-logo-parent {
  align-self: stretch;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.nss1,
.ranchi3 {
  margin: 0;
}
.nss-ranchi1 {
  position: relative;
  line-height: 110%;
}
.nss-location {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-30xl);
  font-size: var(--font-size-lgi-6);
}
.nss-details,
.nss-experience {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.nss-details {
  width: 450.9px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-4xl-7);
}
.nss-experience {
  width: 716.9px;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  font-size: var(--font-size-6xl);
}
.geeksforgeeks-experience {
  flex: 1;
  flex-direction: column;
  gap: 66.6px;
}
.geeksforgeeks-experience,
.organizations-i-had-worked-group,
.work-experience {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.work-experience {
  align-self: stretch;
  flex-direction: row;
  padding: 0 51px 0 var(--padding-33xl);
  box-sizing: border-box;
  text-align: center;
  font-size: var(--font-size-lgi-6);
  color: var(--color-white);
}
.organizations-i-had-worked-group {
  position: absolute;
  top: 2506px;
  left: 304px;
  width: 832px;
  flex-direction: column;
  gap: 132px;
}
.image-12,
.image-13,
.image-21 {
  position: absolute;
  top: 1784.9px;
  left: 218px;
  width: 1439px;
  height: 803px;
  display: none;
}
.image-13,
.image-21 {
  top: 1781.9px;
  left: 276px;
}
.image-13 {
  top: 1782.9px;
}
.you-can1 {
  font-weight: 500;
}
.check1 {
  font-family: var(--font-dm-sans);
}
.my-work1,
.span7 {
  font-weight: 500;
  color: var(--color-mediumslateblue);
}
.you-can-check-container1 {
  position: absolute;
  top: 1741px;
  left: calc(50% - 357px);
  z-index: 4;
  color: var(--color-white);
}
.frame-child6 {
  height: 329px;
  width: 374px;
  position: relative;
  box-shadow: -30px -17px 4px #000;
  border-radius: var(--br-46xl);
  background-color: var(--color-gray-100);
  display: none;
  max-width: 100%;
}
.behance-733594-2-icon1 {
  height: 214px;
  width: 214px;
  position: relative;
  object-fit: contain;
  z-index: 1;
}
.behance-link,
.rectangle-parent5 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.rectangle-parent5 {
  box-shadow: -30px -17px 4px #000;
  border-radius: var(--br-46xl);
  background-color: var(--color-gray-100);
  flex-direction: row;
  padding: var(--padding-38xl) var(--padding-61xl) var(--padding-39xl);
  z-index: 4;
}
.behance-link {
  flex-direction: column;
  padding: 0 var(--padding-8xs) 0 0;
}
.divider-shape-icon {
  width: 5px;
  flex: 1;
  position: relative;
  max-height: 100%;
  z-index: 4;
}
.divider {
  height: 238px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-20xl) 0 0;
  box-sizing: border-box;
}
.frame-child7 {
  height: 329px;
  width: 374px;
  position: relative;
  box-shadow: -30px -17px 4px #000;
  border-radius: var(--br-46xl);
  background-color: var(--color-gray-100);
  display: none;
  max-width: 100%;
}
.instagram-1384031-2-icon1 {
  height: 196px;
  width: 196px;
  position: relative;
  object-fit: contain;
  z-index: 1;
}
.portfolio-links,
.rectangle-parent6 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.rectangle-parent6 {
  width: 374px;
  box-shadow: -30px -17px 4px #000;
  border-radius: var(--br-46xl);
  background-color: var(--color-gray-100);
  justify-content: center;
  padding: var(--padding-47xl) var(--padding-xl) var(--padding-48xl);
  box-sizing: border-box;
  z-index: 4;
}
.portfolio-links {
  position: absolute;
  top: 1970px;
  left: 213px;
  width: 1014px;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.logo-2-5-icon1 {
  height: 75px;
  width: 75px;
  position: relative;
  object-fit: cover;
}
.services3 {
  min-width: 89.6px;
  cursor: pointer;
}
.clients1,
.services3,
.work1 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
}
.work1 {
  min-width: 54.4px;
  cursor: pointer;
}
.clients1 {
  min-width: 73.7px;
}
.contact-title,
.page-links {
  margin: 0;
  display: flex;
  align-items: flex-start;
}
.page-links {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-3xl);
  color: var(--color-white);
  font-family: var(--font-dm-sans);
}
.contact-title {
  width: 356.1px;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 0 var(--padding-3xs-5);
  box-sizing: border-box;
  max-width: 100%;
}
.contact-button-child {
  height: 50px;
  width: 196px;
  position: relative;
  box-shadow: -2px -2px 5px rgba(255, 255, 255, 0.5),
    2px 2px 5px rgba(0, 0, 0, 0.5);
  border-radius: var(--br-13xl-5);
  background-color: var(--color-gray-200);
  display: none;
}
.contact-me1 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 128px;
  z-index: 1;
}
.contact-button {
  box-shadow: -2px -2px 5px rgba(255, 255, 255, 0.5),
    2px 2px 5px rgba(0, 0, 0, 0.5);
  border-radius: var(--br-13xl-5);
  background-color: var(--color-gray-200);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-2xs) var(--padding-11xl) var(--padding-4xs)
    var(--padding-19xl);
  white-space: nowrap;
}
.contact-title-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
  cursor: pointer;
}
.frame-wrapper2 {
  width: 635px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-xs);
  box-sizing: border-box;
  max-width: 100%;
}
.homepage1,
.logo-2-5-parent {
  text-align: left;
  font-family: var(--font-dm-sans);
}
.logo-2-5-parent {
  position: absolute;
  top: 64px;
  left: 92px;
  width: 1232px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  gap: var(--gap-xl);
  max-width: 100%;
  font-size: var(--font-size-3xl);
  color: var(--color-white);
}
.homepage1 {
  width: 100%;
  height: 3349px;
  position: relative;
  background-color: var(--color-gray-200);
  overflow: hidden;
  line-height: normal;
  letter-spacing: normal;
  font-size: var(--font-size-44xl-2);
  color: var(--color-mediumslateblue);
}
@media screen and (max-width: 1150px) {
  .services-list {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1050px) {
  .im-manashvi-sharma-container1 {
    font-size: var(--font-size-10xl);
  }
  .ui-designer-container1 {
    font-size: var(--font-size-22xl);
    line-height: 56px;
  }
  .wrapper-group-1-item {
    flex: 1;
  }
  .frame-container {
    flex-wrap: wrap;
  }
  .services-i-can-container1 {
    font-size: var(--font-size-32xl);
  }
  .animation1,
  .graphic-design1,
  .ui-design1 {
    font-size: var(--font-size-10xl);
    line-height: 33px;
  }
  .animation1,
  .ui-design1 {
    line-height: 46px;
  }
  .organizations-i-had-container1,
  .you-can-check-container1 {
    font-size: var(--font-size-32xl);
  }
  .portfolio-links {
    flex-wrap: wrap;
  }
  .homepage1 {
    height: auto;
    min-height: 3349;
  }
}
@media screen and (max-width: 750px) {
  .geeksforgeeks-details,
  .nss-logo-parent {
    flex-wrap: wrap;
  }
  .contact-title {
    display: none;
  }
}
@media screen and (max-width: 450px) {
  .im-manashvi-sharma-container1 {
    font-size: var(--font-size-3xl);
  }
  .ui-designer-container1 {
    font-size: var(--font-size-6xl);
    line-height: 38px;
  }
  .engineer-turned-designer-with-container1 {
    font-size: var(--font-size-2xl);
  }
  .resume1 {
    font-size: var(--font-size-xl);
    line-height: 23px;
  }
  .frame-wrapper1 {
    min-width: 100%;
  }
  .services-i-can-container1 {
    font-size: var(--font-size-19xl);
  }
  .animation1,
  .graphic-design1,
  .ui-design1 {
    font-size: var(--font-size-3xl);
    line-height: 24px;
  }
  .animation1,
  .ui-design1 {
    line-height: 35px;
  }
  .organizations-i-had-container1 {
    font-size: var(--font-size-19xl);
  }
  .next-might-be-container1 {
    font-size: var(--font-size-xl);
    line-height: 22px;
  }
  .you-can-check-container1 {
    font-size: var(--font-size-19xl);
  }
}
