.manashvi-sharma {
  color: var(--color-mediumslateblue);
}
.im-manashvi-sharma-container {
  margin: 0;
  position: relative;
  font-size: inherit;
  display: inline-block;
  max-width: 100%;
  font-family: inherit;
}
.ui-designer1 {
  color: var(--color-white);
}
.span {
  color: var(--color-darkslateblue);
}
.ui-designer,
.visual-designer {
  margin: 0;
}
.ui-designer-container {
  align-self: stretch;
  position: relative;
  font-size: 82.3px;
  line-height: 94px;
  color: var(--color-mediumslateblue);
}
.content-wrapper {
  width: 645px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xl) 0 0;
  box-sizing: border-box;
  gap: 25px;
  max-width: 100%;
}
.years-experience {
  font-family: var(--font-dm-sans);
}
.engineer-turned-designer-with,
.expertly-merging-technical,
.impactful-design-solutions {
  margin: 0;
}
.engineer-turned-designer-with-container {
  align-self: stretch;
  position: relative;
  font-size: 25.8px;
}
.content-wrapper-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 43px;
  max-width: 100%;
}
.resume-download-child {
  height: 55px;
  width: 202px;
  position: relative;
  box-shadow: -2px 0.2px 5px rgba(255, 255, 255, 0.5),
    2px 2px 5px rgba(13, 13, 13, 0.5);
  border-radius: var(--br-7xs);
  background-color: var(--color-gray-200);
  display: none;
}
.resume {
  position: relative;
  display: inline-block;
  min-width: 99px;
  z-index: 1;
}
.resume-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
}
.bx-download-icon {
  height: 41px;
  width: 41px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 41px;
  z-index: 1;
}
.resume-download {
  box-shadow: -2px 0.2px 5px rgba(255, 255, 255, 0.5),
    2px 2px 5px rgba(13, 13, 13, 0.5);
  border-radius: var(--br-7xs);
  background-color: var(--color-gray-200);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs) 23px var(--padding-6xs) 24px;
  gap: 15px;
  font-size: var(--font-size-6xl);
}
.frame-group,
.frame-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 100%;
}
.frame-group {
  align-self: stretch;
  justify-content: flex-start;
  gap: 81px;
  flex-shrink: 0;
  debug_commit: 448091;
}
.frame-wrapper {
  width: 661px;
  justify-content: flex-end;
  padding: 0 0 23.9px;
  box-sizing: border-box;
  min-width: 661px;
}
.wrapper-group-1-child {
  height: 100%;
  width: 100%;
  flex-shrink: 0;
  debug_commit: 448091;
  object-fit: contain;
  position: absolute;
  left: -5px;
  top: -12px;
  transform: scale(1.041);
}
.wrapper-group-1 {
  height: 588.9px;
  width: 588.9px;
  position: relative;
  flex-shrink: 0;
  debug_commit: 448091;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame-parent {
  position: absolute;
  top: 270px;
  left: 203px;
  width: 1526.9px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-17xl);
  color: var(--color-white);
  font-family: var(--font-dm-sans);
}
.homepage-child {
  position: absolute;
  top: 1263.4px;
  left: 366px;
  width: 1188.5px;
  height: 2px;
  z-index: 1;
}
.services {
  color: var(--color-mediumslateblue);
}
.services-i-can {
  font-weight: 500;
}
.services-i-can-container {
  position: relative;
}
.services-header {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-2xl) 0 var(--padding-xl);
}
.frame-child {
  width: 352px;
  height: 496px;
  position: relative;
  box-shadow: -17px 0 4px #101010;
  border-radius: var(--br-31xl) var(--br-31xl) 0 0;
  background-color: var(--color-gray-100);
  display: none;
  max-width: 100%;
}
.graphic-design {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 41px;
  font-weight: 700;
  font-family: inherit;
  z-index: 1;
}
.pen-tool-7244794-1-icon {
  height: 200px;
  width: 200px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.pen-tool-7244794-1-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 36px 0 34px;
}
.frame-item,
.rectangle-parent {
  border-radius: var(--br-31xl) var(--br-31xl) 0 0;
  background-color: var(--color-gray-100);
  max-width: 100%;
}
.rectangle-parent {
  flex: 0.871;
  box-shadow: -17px 0 4px #101010;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 37px var(--padding-19xl) 105px var(--padding-25xl);
  box-sizing: border-box;
  gap: 113px;
  min-width: 264px;
}
.frame-item {
  width: 352px;
  height: 496px;
  position: relative;
  box-shadow: -17px 0 4px #0f0f0f;
  display: none;
}
.ui-design {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 58px;
  font-weight: 700;
  font-family: inherit;
  z-index: 1;
}
.layout-8500907-1-icon {
  height: 178px;
  width: 178px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.layout-8500907-1-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-9xs);
}
.frame-inner,
.rectangle-group {
  box-shadow: -17px 0 4px #0f0f0f;
  border-radius: var(--br-31xl) var(--br-31xl) 0 0;
  background-color: var(--color-gray-100);
  max-width: 100%;
}
.rectangle-group {
  flex: 0.5871;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xl) var(--padding-61xl) var(--padding-99xl) 90px;
  box-sizing: border-box;
  gap: 122px;
  min-width: 264px;
}
.frame-inner {
  width: 352px;
  height: 496px;
  position: relative;
  display: none;
}
.animation {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 58px;
  font-weight: 700;
  font-family: inherit;
  z-index: 1;
}
.animate-5261056-1-icon {
  height: 174px;
  width: 174px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.animate-5261056-1-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 5px 0 3px;
}
.rectangle-container {
  flex: 1;
  box-shadow: -17px 0 4px #0f0f0f;
  border-radius: var(--br-31xl) var(--br-31xl) 0 0;
  background-color: var(--color-gray-100);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-xl) var(--padding-xl) var(--padding-99xl)
    var(--padding-3xl);
  box-sizing: border-box;
  gap: 126px;
  min-width: 264px;
  max-width: 100%;
}
.service-icons,
.services-header-parent {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.service-icons {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  gap: 72px;
  font-size: var(--font-size-17xl);
}
.services-header-parent {
  position: absolute;
  top: 1008.9px;
  left: 366.5px;
  width: 1200px;
  flex-direction: column;
  justify-content: flex-start;
  gap: 69px;
  text-align: left;
  font-size: var(--font-size-44xl-2);
  color: var(--color-white);
  font-family: var(--font-dm-sans);
}
.span1 {
  color: var(--color-darkslateblue);
}
.i-had {
  color: var(--color-white);
}
.organizations-i-had,
.span2 {
  font-weight: 500;
}
.span2 {
  font-family: var(--font-dm-sans);
}
.worked {
  color: var(--color-white);
}
.organizations-i-had-container {
  position: relative;
  text-align: left;
  color: var(--color-mediumslateblue);
}
.geeksforgeeks-wrapper-child {
  height: 140px;
  width: 158.9px;
  position: relative;
  box-shadow: -1.3px -1.3px 3.27px rgba(255, 255, 255, 0.5),
    1.3px 1.3px 3.27px rgba(0, 0, 0, 0.5);
  border-radius: 42.51px;
  background-color: var(--color-gray-100);
  display: none;
}
.gfg-gg-logo-1-icon {
  height: 46.4px;
  width: 92.2px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.geeksforgeeks-wrapper {
  box-shadow: -1.3px -1.3px 3.27px rgba(255, 255, 255, 0.5),
    1.3px 1.3px 3.27px rgba(0, 0, 0, 0.5);
  border-radius: 42.51px;
  background-color: var(--color-gray-100);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 46.4px 33px 47.2px;
}
.geeksforgeeks,
.noida {
  margin: 0;
}
.geeksforgeeks-noida {
  position: relative;
  line-height: 110%;
}
.geeksforgeeks-container,
.geeksforgeeks-info {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.geeksforgeeks-info {
  flex-direction: row;
  padding: 0 2px;
}
.geeksforgeeks-container {
  flex-direction: column;
  gap: var(--gap-7xl-4);
  min-width: 158.9px;
}
.leap-scholar-wrapper-child {
  height: 140px;
  width: 158.9px;
  position: relative;
  box-shadow: -1.3px -1.3px 3.27px rgba(255, 255, 255, 0.5),
    1.3px 1.3px 3.27px rgba(0, 0, 0, 0.5);
  border-radius: 42.51px;
  background-color: var(--color-gray-100);
  display: none;
}
.leap-scholar-logo {
  height: 60.7px;
  width: 63.4px;
  position: relative;
  z-index: 1;
}
.leap-scholar-wrapper {
  align-self: stretch;
  box-shadow: -1.3px -1.3px 3.27px rgba(255, 255, 255, 0.5),
    1.3px 1.3px 3.27px rgba(0, 0, 0, 0.5);
  border-radius: 42.51px;
  background-color: var(--color-gray-100);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 40px var(--padding-25xl) 39.3px;
}
.hyderabad,
.leapscholar {
  margin: 0;
}
.leapscholar-hyderabad {
  position: relative;
  line-height: 110%;
}
.leap-scholar-info {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-xl) 0 var(--padding-3xl);
}
.leap-scholar-container {
  width: 158.9px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-7xl-4);
  min-width: 158.9px;
}
.n-s-s-wrapper-child {
  height: 140px;
  width: 158.9px;
  position: relative;
  box-shadow: -1.3px -1.3px 3.27px rgba(255, 255, 255, 0.5),
    1.3px 1.3px 3.27px rgba(0, 0, 0, 0.5);
  border-radius: 42.51px;
  background-color: var(--color-gray-100);
  display: none;
}
.n-s-s-symbol {
  height: 116.4px;
  width: 116.4px;
  position: relative;
  object-fit: contain;
  z-index: 1;
}
.n-s-s-container,
.n-s-s-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.n-s-s-wrapper {
  flex: 1;
  box-shadow: -1.3px -1.3px 3.27px rgba(255, 255, 255, 0.5),
    1.3px 1.3px 3.27px rgba(0, 0, 0, 0.5);
  border-radius: 42.51px;
  background-color: var(--color-gray-100);
  justify-content: flex-start;
  padding: 11.8px 19px;
}
.n-s-s-container {
  align-self: stretch;
  justify-content: flex-end;
  padding: 0 17px 0 var(--padding-xl);
}
.photographic-society,
.ranchi {
  margin: 0;
}
.photographic-society-ranchi-container {
  height: 44px;
  position: relative;
  line-height: 110%;
  display: inline-block;
}
.n-s-s-container-parent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-7xl-4);
  min-width: 128px;
}
.leap-scholar-container-parent {
  flex: 1;
  justify-content: center;
  gap: 37.3px;
  min-width: 255px;
}
.geeksforgeeks-container-parent,
.leap-scholar-container-parent,
.organizations {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.geeksforgeeks-container-parent {
  width: 609.1px;
  justify-content: flex-start;
  gap: 57px;
}
.organizations {
  align-self: stretch;
  justify-content: center;
  padding: 0 var(--padding-xl) 0 47px;
  box-sizing: border-box;
  font-size: var(--font-size-lgi-6);
}
.rectangle-div {
  height: 140px;
  width: 158.9px;
  position: relative;
  box-shadow: -1.3px -1.3px 3.27px rgba(255, 255, 255, 0.5),
    1.3px 1.3px 3.27px rgba(0, 0, 0, 0.5);
  border-radius: 42.51px;
  background-color: var(--color-gray-100);
  display: none;
}
.nss-symbol-1-icon {
  height: 92.9px;
  width: 92.9px;
  position: relative;
  object-fit: contain;
  z-index: 1;
}
.frame-child1,
.frame-div {
  box-shadow: -1.3px -1.3px 3.27px rgba(255, 255, 255, 0.5),
    1.3px 1.3px 3.27px rgba(0, 0, 0, 0.5);
  border-radius: 42.51px;
  background-color: var(--color-gray-100);
}
.frame-div {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 23.6px var(--padding-13xl) 23.5px;
}
.frame-child1 {
  height: 140px;
  width: 158.9px;
  position: relative;
  display: none;
}
.might-be,
.next,
.you {
  margin: 0;
}
.next-might-be-container {
  flex: 1;
  position: relative;
  line-height: 110%;
  font-weight: 500;
  z-index: 1;
}
.rectangle-parent1,
.showcase-icons {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.rectangle-parent1 {
  flex: 1;
  box-shadow: -1.3px -1.3px 3.27px rgba(255, 255, 255, 0.5),
    1.3px 1.3px 3.27px rgba(0, 0, 0, 0.5);
  border-radius: 42.51px;
  background-color: var(--color-gray-100);
  padding: 28px 25px var(--padding-11xl);
  box-sizing: border-box;
  min-width: 103px;
}
.showcase-icons {
  align-self: stretch;
  flex-wrap: wrap;
  gap: 54.9px;
}
.nss,
.ranchi1 {
  margin: 0;
}
.nss-ranchi {
  position: relative;
  line-height: 110%;
}
.showcase-info {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 49px;
  font-size: var(--font-size-lgi-6);
}
.showcase-header,
.work-showcase {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.showcase-header {
  width: 372.7px;
  flex-direction: column;
  justify-content: flex-start;
  gap: 23.7px;
}
.work-showcase {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl) 0 var(--padding-19xl);
  box-sizing: border-box;
  font-size: var(--font-size-6xl);
}
.organizations-i-had-worked-parent {
  position: absolute;
  top: 2631.9px;
  left: 560px;
  width: 812px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 67.3px;
  max-width: 100%;
}
.image-1,
.image-11,
.image-2 {
  position: absolute;
  top: 1784.9px;
  left: 218px;
  width: 1439px;
  height: 803px;
  display: none;
}
.image-11,
.image-2 {
  top: 1781.9px;
  left: 276px;
}
.image-11 {
  top: 1782.9px;
}
.you-can {
  font-weight: 500;
}
.check {
  font-family: var(--font-dm-sans);
}
.my-work,
.span3 {
  font-weight: 500;
  color: var(--color-mediumslateblue);
}
.you-can-check-container {
  position: relative;
  z-index: 3;
}
.call-to-action-header {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-2xl) 0 var(--padding-xl);
}
.platform-links-child {
  height: 329px;
  width: 374px;
  position: relative;
  box-shadow: -30px -17px 4px #000;
  border-radius: var(--br-46xl);
  background-color: var(--color-gray-100);
  display: none;
  max-width: 100%;
}
.behance-733594-2-icon {
  height: 214px;
  width: 214px;
  position: relative;
  object-fit: contain;
  z-index: 4;
}
.platform-links {
  box-shadow: -30px -17px 4px #000;
  border-radius: var(--br-46xl);
  background-color: var(--color-gray-100);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 58px var(--padding-61xl) 57px;
  box-sizing: border-box;
  max-width: 100%;
  z-index: 3;
}
.vector-icon {
  width: 5px;
  flex: 1;
  position: relative;
  max-height: 100%;
  z-index: 3;
}
.social-icons-inner {
  height: 238px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 39px var(--padding-13xl) 0 0;
  box-sizing: border-box;
}
.platform-links-item {
  height: 329px;
  width: 374px;
  position: relative;
  box-shadow: -30px -17px 4px #000;
  border-radius: var(--br-46xl);
  background-color: var(--color-gray-100);
  display: none;
  max-width: 100%;
}
.instagram-1384031-2-icon {
  height: 196px;
  width: 196px;
  position: relative;
  object-fit: contain;
  z-index: 4;
}
.platform-links1 {
  width: 374px;
  box-shadow: -30px -17px 4px #000;
  border-radius: var(--br-46xl);
  background-color: var(--color-gray-100);
  flex-direction: row;
  justify-content: center;
  padding: 67px var(--padding-xl) 66px;
  box-sizing: border-box;
  z-index: 3;
}
.call-to-action,
.platform-links1,
.social-icons {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.social-icons {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.call-to-action {
  position: absolute;
  top: 1865.9px;
  left: 512px;
  width: 959px;
  flex-direction: column;
  justify-content: flex-start;
  gap: 112px;
  text-align: left;
}
.logo-2-5-icon {
  height: 75px;
  width: 75px;
  position: relative;
  object-fit: cover;
}
.services1 {
  min-width: 89.6px;
  cursor: pointer;
}
.clients,
.services1,
.work {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
}
.work {
  min-width: 54.4px;
  cursor: pointer;
}
.clients {
  min-width: 73.7px;
}
.link-categories,
.links-wrapper {
  margin: 0;
  display: flex;
  align-items: flex-start;
}
.link-categories {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-3xl);
  color: var(--color-white);
  font-family: var(--font-dm-sans);
}
.links-wrapper {
  width: 356.1px;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 0 9.5px;
  box-sizing: border-box;
  max-width: 100%;
}
.frame-child2 {
  height: 50px;
  width: 196px;
  position: relative;
  box-shadow: -2px -2px 5px rgba(255, 255, 255, 0.5),
    2px 2px 5px rgba(0, 0, 0, 0.5);
  border-radius: var(--br-13xl-5);
  background-color: var(--color-gray-200);
  display: none;
}
.contact-me {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 128px;
  z-index: 1;
}
.rectangle-parent2 {
  box-shadow: -2px -2px 5px rgba(255, 255, 255, 0.5),
    2px 2px 5px rgba(0, 0, 0, 0.5);
  border-radius: var(--br-13xl-5);
  background-color: var(--color-gray-200);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 11px var(--padding-11xl) 9px var(--padding-19xl);
  white-space: nowrap;
}
.links-wrapper-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
  cursor: pointer;
}
.footer-navigation {
  width: 635px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 12px;
  box-sizing: border-box;
  max-width: 100%;
}
.homepage,
.logo-container {
  color: var(--color-white);
  font-family: var(--font-dm-sans);
}
.logo-container {
  position: absolute;
  top: 64px;
  left: 92px;
  width: 1730px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  gap: var(--gap-xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-3xl);
}
.homepage {
  width: 100%;
  height: 3349px;
  position: relative;
  background-color: var(--color-gray-200);
  overflow: hidden;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  font-size: var(--font-size-44xl-2);
}
@media screen and (max-width: 1275px) {
  .frame-wrapper,
  .wrapper-group-1-child {
    flex: 1;
  }
  .frame-parent {
    flex-wrap: wrap;
  }
  .homepage {
    height: auto;
    min-height: 3349;
  }
}
@media screen and (max-width: 1100px) {
  .service-icons,
  .social-icons {
    flex-wrap: wrap;
  }
  .social-icons {
    justify-content: center;
  }
}
@media screen and (max-width: 750px) {
  .im-manashvi-sharma-container {
    font-size: var(--font-size-10xl);
  }
  .ui-designer-container {
    font-size: 41px;
    line-height: 56px;
  }
  .frame-wrapper {
    min-width: 100%;
  }
  .services-i-can-container {
    font-size: var(--font-size-32xl);
  }
  .animation,
  .graphic-design,
  .ui-design {
    font-size: var(--font-size-10xl);
    line-height: 33px;
  }
  .animation,
  .ui-design {
    line-height: 46px;
  }
  .organizations-i-had-container {
    font-size: var(--font-size-32xl);
  }
  .geeksforgeeks-container {
    flex: 1;
  }
  .geeksforgeeks-container-parent {
    flex-wrap: wrap;
  }
  .you-can-check-container {
    font-size: var(--font-size-32xl);
  }
  .links-wrapper {
    display: none;
  }
}
@media screen and (max-width: 450px) {
  .im-manashvi-sharma-container {
    font-size: var(--font-size-3xl);
  }
  .ui-designer-container {
    font-size: var(--font-size-6xl);
    line-height: 38px;
  }
  .engineer-turned-designer-with-container {
    font-size: 21px;
  }
  .resume {
    font-size: var(--font-size-xl);
  }
  .services-i-can-container {
    font-size: var(--font-size-19xl);
  }
  .graphic-design {
    font-size: var(--font-size-3xl);
    line-height: 24px;
  }
  .rectangle-parent {
    flex: 1;
  }
  .ui-design {
    font-size: var(--font-size-3xl);
    line-height: 35px;
  }
  .rectangle-group {
    flex: 1;
  }
  .animation {
    font-size: var(--font-size-3xl);
    line-height: 35px;
  }
  .organizations-i-had-container {
    font-size: var(--font-size-19xl);
  }
  .leap-scholar-container,
  .n-s-s-wrapper {
    flex: 1;
  }
  .leap-scholar-container-parent {
    flex-wrap: wrap;
  }
  .next-might-be-container {
    font-size: var(--font-size-xl);
    line-height: 22px;
  }
  .you-can-check-container {
    font-size: var(--font-size-19xl);
  }
}
